@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-decoration: none;
}

.navbar-brand{
    margin-left: 1rem;
}

.navbar-nav .nav-item{
    margin-right: 2rem;
}

/*------------------------------SLIDER----------------------------*/

#mainSlider .carousel-inner, #mainSlider .carousel-item{
    height: 50vh;
    
}

#mainSlider .carousel-caption{
    top: 45%;
}
#mainSlider .carousel-caption h2{
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1rem;
    text-shadow: 10px, 10px, 2px  black;
    -webkit-text-stroke: 0.1, black;
    border-radius: 3px;
    border: 5px;
}
#mainSlider .carousel-caption p{
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 2rem;
    text-shadow: 10px, 10px, 2px  black;
    -webkit-text-stroke: 0.1, black;
    border-radius: 3px;
}
#main-btn{
    background-color: #65DAF9;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
    border: 3px solid transparent;
    transition: 0.5s;
}
#main-btn:hover{
    background-color: transparent;
    border-color: #65DAF9;
    color: black;
}
#mainSlider .carousel-indicators .active{
    background-color: #65DAF9;
}
/*------------------------GRID------------------------------*/
#services{
    background-color: rgb(235, 231, 231);
}
#titulo{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: #4e4e4e;
    margin-top: 3rem;
    font-weight: 600;
}
.col-12 p{
    font-size: 1rem;
    color: #4e4e4e;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 3rem;
}
.col h4, p{
    color: #4e4e4e;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}
.col p{
    margin-bottom: 3rem;
}
#vantagens{
    background-color: rgba(54,153,244, 0.7);
}