@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}
body{
    overflow-x: hidden;
}
.container{
    width: 1300px;
    height: 120vh;
}
.carrossel{
    display: flex;
}
.img-fundo{
    width: 1300px;
    height: 100%;
}
.header{
    background-color: rgba(0, 0, 0, 0.281);
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: right;
    position: absolute;
    top: 0px;
}
.c-dropdown{
    display: flex;
    width: 80%;
    justify-content: right;
    
}
.c-dropdown_item{
    position: relative;
    width: 100%;
    top: 80%;
}
.dropdown-toggle, .dropdown-toggle1, .dropdown-toggle2, .dropdown-toggle3{
    position: relative;
    display: block;
    margin-bottom: 5px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 2px #111;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    padding: 5px 12px;
    line-height: 24px;
    -webkit-text-stroke: 0.1, black;
}
.dropdown-menu, .dropdown-menu1, .dropdown-menu2, .dropdown-menu3{
    display: none;
    background-color: whitesmoke;
    margin-right: 10px;
}
.dropdown-menu a, .dropdown-menu1 a, .dropdown-menu2 a, .dropdown-menu3 a    {
    display: block;
    margin-bottom: 20px;
    text-shadow: 10px, 10px, 2px  black;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: normal;
    border-radius: 3px;
    font-size: 16px;
    padding: 5px 12px;
    line-height: 24px;
    
}
/*---------------------------------------------------------------------------------------*/

.meio{
    background: #f2f2f2;
    position: absolute;
    top: 500px;
    text-align: center;
    left: 0;
    right: 0;
}


.qual{
    font-family: 'Open Sans', sans-serif;
    padding-top: 3%;
    padding-bottom: 2%;
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 400;
}
.aqui{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #4e4e4e;
    padding-bottom: 2%;
}
/*------------------------------------------------------------------------------------*/

.meio1{
    background: #fff;
    position: absolute;
    top: 1100px;
    text-align: center;
    left: 0;
    right: 0;
}
.qual1{
    font-family: 'Open Sans', sans-serif;
    padding-top: 3%;
    padding-bottom: 2%;
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 400;
}
.aqui1{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #4e4e4e;
    padding-bottom: 2%;
}
/*-----------------------------------------------------------------------------------*/
.meio2{
    background: rgba(54,153,244, 0.7);
    position: absolute;
    top: 1600px;
    text-align: center;
    left: 0;
    right: 0;
}
.qual2{
    font-family: 'Open Sans', sans-serif;
    padding-top: 3%;
    padding-bottom: 2%;
    color: #fff;
    font-size: 36px;
    font-weight: 400;
}
.aqui2{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    padding-bottom: 2%;
}