*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.logo{
    margin-left: 25px;
}
.menu-right{
    justify-content: flex-end;
}
.hamburguer{
    left: 1rem;
}
.NavDropdown{
    margin-right: 1rem;
    margin-left: 1rem;
}